<div class = "footer__nav">
    <div class = "about__footer">
        <span class = "title__footer">Про блог:</span>
        <span class = "body__footer">Обычный блог для отдыха мысли !</span>
    </div>
    <div class = "my__persons__footer">
        <span class = "title__footer">Про меня:</span>
         <span class = "body__footer">Живу в Украине</span>
    </div>
</div>