



<nav class="main__nav">
    <!--! Тело навигации -->
    <div class="body__nav">
        <ul class="list_nav">
            <!--! Items  навигации -->
              <li class="item__nav"><a href="<%= new_article_path %>" class="link_nav">
                    Edit new
            </a></li>

            <li class="item__nav"><a href="/articles" class="link_nav">
                    MainPages
            </a></li>
                <li class="item__nav">
                    <a href="#" class="link_nav">
                        About Author
                </a>
            </li>
            <li class="item__nav">
                <a href="#" class="link_nav">
                   login
                </a>
            </li>
        </ul>
    </div>
 

</nav>

